In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# df = pd.read_excel("Training_Data.xlsx")
# df

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_excel(r"/content/drive/MyDrive/Training_Data.xlsx")
df

,PatientId,EncounterId,DischargeDisposision,Gender,Race,DiabetesMellitus,ChronicKidneyDisease,Anemia,Depression,ChronicObstructivePulmonaryDisease,...,BetaBlockers,Diuretics,TotalMedicine,CardiacTroponin,Hemoglobin,SerumSodium,SerumCreatinine,BNP,NT-proBNP,ReadmissionWithin_90Days
0,4200412,199171333,Home,Male,White,DM,NaN,Anemia,NaN,COPD,...,0,0,0,0.0,0.00,0.0,0.000000,0.0,0.0,Yes
1,4055894,26704337,Home,Male,White,DM,CKD,Anemia,Depression,COPD,...,1,5,8,0.0,0.00,0.0,1.540000,0.0,0.0,No
2,4867407,60388216,Home,Male,White,DM,CKD,Anemia,NaN,COPD,...,1,1,2,0.0,10.20,0.0,0.000000,0.0,0.0,No
3,4058064,274642265,Hospice - Home,Female,White,DM,NaN,Anemia,NaN,COPD,...,0,0,0,0.0,0.00,132.0,0.000000,0.0,0.0,No
4,4150623,70000001557327,SNF,Female,White,NaN,NaN,Anemia,NaN,COPD,...,0,0,0,0.0,7.26,0.0,0.000000,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,4152524,40004415567,Home Health,Female,White,DM,CKD,Anemia,NaN,COPD,...,2,3,6,0.0,0.00,0.0,1.076667,0.0,0.0,Yes
8477,4042227,14347947026,SNF,Male,White,DM,CKD,NaN,Depression,COPD,...,0,0,0,0.0,0.00,0.0,0.000000,0.0,0.0,Yes
8478,4603405,67117733,Hospice,Female,White,NaN,NaN,NaN,NaN,NaN,...,1,0,1,0.0,0.00,0.0,0.000000,0.0,0.0,No
8479,4033677,68564389,Home,Female,White,DM,CKD,NaN,Depression,NaN,...,1,1,5,0.0,0.00,0.0,1.690000,0.0,0.0,Yes
8480,4036902,1452511275,Home,Male,White,NaN,CKD,Anemia,NaN,NaN,...,0,0,0,0.0,0.00,0.0,0.000000,0.0,0.0,No

Preprocessing

In [ ]:
null_values = df.isnull().sum()
print(null_values)

PatientId                                0
EncounterId                              0
DischargeDisposision                     0
Gender                                   0
Race                                    93
DiabetesMellitus                      3857
ChronicKidneyDisease                  3906
Anemia                                3002
Depression                            5108
ChronicObstructivePulmonaryDisease    3954
Age                                      0
ChronicDiseaseCount                      0
LengthOfStay                             0
EmergencyVisit                           0
InpatientVisit                           0
OutpatientVisit                          0
TotalVisits                              0
BMIMin                                   0
BMIMax                                   0
BMIMedian                                0
BMIMean                                  0
BPDiastolicMin                           0
BPDiastolicMax                           0
BPDiastolicMedian                        0
BPDiastolicMean                          0
BPSystolicMin                            0
BPSystolicMax                            0
BPSystolicMedian                         0
BPSystolicMean                           0
TemperatureMin                           0
TemperatureMax                           0
TemperatureMedian                        0
TemperatureMean                          0
HeartRateMin                             0
HeartRateMax                             0
HeartRateMedian                          0
HeartRateMean                            0
PulseRateMin                             0
PulseRateMax                             0
PulseRateMedian                          0
PulseRateMean                            0
RespiratoryRateMin                       0
RespiratoryRateMax                       0
RespiratoryRateMedian                    0
RespiratoryRateMean                      0
ACEInhibitors                            0
ARBs                                     0
BetaBlockers                             0
Diuretics                                0
TotalMedicine                            0
CardiacTroponin                          0
Hemoglobin                               0
SerumSodium                              0
SerumCreatinine                          0
BNP                                      0
NT-proBNP                                0
ReadmissionWithin_90Days                 0
dtype: int64

In [ ]:
def Preprocessing(df):
    df['Race'].fillna(df['Race'].mode()[0],inplace=True)
    df['DiabetesMellitus'].fillna("NO DM",inplace=True)
    df['ChronicKidneyDisease'].fillna("NO CKD",inplace=True)
    df['Anemia'].fillna("NO Anemia",inplace=True)
    df['Depression '].fillna("NO Depression",inplace=True)
    df['ChronicObstructivePulmonaryDisease'].fillna("NO COPD",inplace=True)
    df['PatientId']   = pd.to_numeric(df['PatientId'])
    df['EncounterId'] = pd.to_numeric(df['EncounterId'],errors='coerce')
    df.isnull().sum()
    df['EncounterId'].fillna(0,inplace=True)
    le = LabelEncoder()
    categ = ['Race','DischargeDisposision','Gender','DiabetesMellitus','ChronicKidneyDisease','Anemia','Depression ','ChronicObstructivePulmonaryDisease','ReadmissionWithin_90Days']
    df[categ] = df[categ].apply(le.fit_transform)

    return df

In [ ]:
df = Preprocessing(df)
df

,PatientId,EncounterId,DischargeDisposision,Gender,Race,DiabetesMellitus,ChronicKidneyDisease,Anemia,Depression,ChronicObstructivePulmonaryDisease,...,BetaBlockers,Diuretics,TotalMedicine,CardiacTroponin,Hemoglobin,SerumSodium,SerumCreatinine,BNP,NT-proBNP,ReadmissionWithin_90Days
0,4200412,1.991713e+08,7,1,6,0,1,0,1,0,...,0,0,0,0.0,0.00,0.0,0.000000,0.0,0.0,1
1,4055894,2.670434e+07,7,1,6,0,0,0,0,0,...,1,5,8,0.0,0.00,0.0,1.540000,0.0,0.0,0
2,4867407,6.038822e+07,7,1,6,0,0,0,1,0,...,1,1,2,0.0,10.20,0.0,0.000000,0.0,0.0,0
3,4058064,2.746423e+08,11,0,6,0,1,0,1,0,...,0,0,0,0.0,0.00,132.0,0.000000,0.0,0.0,0
4,4150623,7.000000e+13,19,0,6,1,1,0,1,0,...,0,0,0,0.0,7.26,0.0,0.000000,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8476,4152524,4.000442e+10,8,0,6,0,0,0,1,0,...,2,3,6,0.0,0.00,0.0,1.076667,0.0,0.0,1
8477,4042227,1.434795e+10,19,1,6,0,0,1,0,0,...,0,0,0,0.0,0.00,0.0,0.000000,0.0,0.0,1
8478,4603405,6.711773e+07,10,0,6,1,1,1,1,1,...,1,0,1,0.0,0.00,0.0,0.000000,0.0,0.0,0
8479,4033677,6.856439e+07,7,0,6,0,0,1,0,1,...,1,1,5,0.0,0.00,0.0,1.690000,0.0,0.0,1
8480,4036902,1.452511e+09,7,1,6,1,0,0,1,1,...,0,0,0,0.0,0.00,0.0,0.000000,0.0,0.0,0

In [ ]:
X = df.drop('ReadmissionWithin_90Days',axis=1)
y = df['ReadmissionWithin_90Days']
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2 , random_state = 60)

In [ ]:
rm = RandomForestClassifier(n_estimators = 10, max_depth=25, criterion = "gini", min_samples_split=10)
rm.fit(X_train, y_train)
pred = rm.predict(X_test)
print ("Accuracy : " , accuracy_score(y_test,pred)*100)
print("Report : \n", classification_report(y_test, pred))
print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)

Accuracy :  69.65232763700648
Report :
               precision    recall  f1-score   support

           0       0.74      0.85      0.79      1163
           1       0.53      0.36      0.43       534

    accuracy                           0.70      1697
   macro avg       0.63      0.61      0.61      1697
weighted avg       0.68      0.70      0.68      1697

F1 Score :  61.14672844388191

GENETIC ALGORITHM IMPLEMENTATION

In [ ]:
# initialize population
def initialize_population(size):
    Arr = [True,False]
    population = np.random.choice(Arr,size=(size,56))
    return population

In [ ]:
def fitness_function(X_train,y_train):
    rm = RandomForestClassifier(n_estimators = 20, max_depth=25, criterion = "entropy", min_samples_split=10)
    rm.fit(X_train, y_train)
    return rm

Sorting accuracies W.R.T the boolean array

In [ ]:
def sorting_chromosome(S_features,accuracy):
    indexes = []
    so = sorted(accuracy,reverse=True)
    for i in range(len(accuracy)):
        for j in range(len(accuracy)):
            if so[i] == accuracy[j]:
                indexes.append(j)
    x = 0
    for i in range(len(accuracy)):
        S_features[i],S_features[indexes[i]] = S_features[indexes[i]],S_features[i]
        x+=1
    return S_features

Single point crossover

In [ ]:
def Crossover(S_features,r):
    split = np.random.randint(10,56)
    # split = 56//2
    r = r//2
    if (r % 2 == 1):
        r+=1
    S_features = S_features[:r]   # splitting half the features which gave lower accuraices
    for i in range(0,r,2):
        if i+1 == (r-1):
            break
        # crossover
        c1 = S_features[i,:split]
        c2 = S_features[i,split:]
        c3 = S_features[i+1,:split]
        c4 = S_features[i+1,split:]
        #joining the cross values
        child1 = np.concatenate((c1,c4),axis=0)
        child2 = np.concatenate((c2,c3),axis=0)
        child1 = child1.reshape(56,1)
        child2 = child2.reshape(56,1)
        S1 = np.concatenate((child1,child2),axis=0)
        S1 = S1.reshape(2,56)
        l = np.concatenate((S_features,S1),axis=0)

    l = l[:r]
        #Mutation
    n = np.random.uniform(0.0,1.0)
    if n > 0.5:
        l = Mutation(l)
    l = np.concatenate((S_features,l),axis=0)

    return l

Mutation

In [ ]:
def Mutation(l):
    for r in range(len(l)):
        random = np.random.randint(56,size=10)
        # print(l[0])
        # print(random)
        for i in random:
            if l[r][i] == False:
                l[r][i] = True
            else:
                l[r][i] = False
    return l

Genetic Algorithm Implementation

In [ ]:
r = 30
S_features = initialize_population(r) # initializing population
for l in range(30):
    accuracy = []
    for i in range(0,r):
        sel = X.loc[:,S_features[i]]
        X_train, X_test, y_train, y_test = train_test_split(sel, y , test_size = 0.2 , random_state = 60)
        rm = fitness_function(X_train,y_train)
        pred=rm.predict(X_test)
        a = accuracy_score(y_test,pred)*100
        accuracy.append(a)

    print('max : ',max(accuracy))


    # Sorting accuracies W.R.T the boolean array
    S_features = sorting_chromosome(S_features,accuracy)

    # Single point crossover
    l = Crossover(S_features,r)

    S_features = l

    # termination condition
    if max(accuracy) > 73:
        print ("Accuracy : " , accuracy_score(y_test,pred)*100)
        print("Report : \n", classification_report(y_test, pred))
        print("F1 Score : ",f1_score(y_test, pred, average='macro')*100)
        break

max :  71.24337065409546
max :  71.3022981732469
max :  71.8326458456099
max :  72.06835592221567
max :  71.71479080730701
max :  72.06835592221567
max :  72.3629935179729
max :  71.89157336476134
max :  71.8326458456099
max :  72.3629935179729
max :  72.30406599882146
max :  72.42192103712433
max :  72.18621096051857
max :  72.12728344136711
max :  72.48084855627577
max :  72.59870359457867
max :  72.24513847967
max :  72.775486152033
max :  71.71479080730701
max :  72.18621096051857
max :  71.89157336476134
max :  72.30406599882146
max :  72.30406599882146
max :  71.89157336476134
max :  72.3629935179729
max :  71.95050088391278
max :  72.00942840306423
max :  72.06835592221567
max :  72.12728344136711
max :  71.89157336476134